@import '../base/variables';

.input {
  background-color: transparent;
  color: $dark;
  height: $building-unit-x3;
  outline: none;
  border: none;
  width: 100%;
  transition: $default-transition;

  &:focus {
    color: $black;
    background-color: transparent;
  }

  &.with-icon {
    margin-right: $building-unit-x2;
  }

  &-icon {
    padding-left: $building-unit-x2;
  }

  &-field {
    display: flex;
    align-items: center;
    padding: $building-unit-x1_5 $building-unit-x2;
    border: none;
  }

  &-wrapper {
    border: 1px solid $light-gray;
    transition: $default-transition;

    &.error {
      border-color: $crimson;
      border-left: 10px solid $crimson;
    }

    &.inverted {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.04);

      .input {
        color: rgba(255, 255, 255, 0.8);

        &:focus {
          color: $black;
        }
      }
    }

    &.with-focus {
      background-color: $white;
    }
  }
}
