@import '../../../styles/base/variables';

.button {
  background-color: transparent;
  border: 1px solid $light-gray;
  border-radius: $building-unit-x3;
  cursor: pointer;
  font-weight: $font-regular;
  padding: $building-unit-x1_5 $building-unit-x4;
  outline: none;
  transition: $default-transition;

  &:hover {
    color: $black;
    background-color: $light-gray;
  }

  &-action {
    border: none;
    background-color: $blue;
    color: $white;

    &:hover {
      color: $white;
      background-color: $light-blue;
    }
  }
}
