@import '../../../styles/base/variables';

.header {
  background-color: $gray;
  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;

  &-content {
    display: flex;
    align-items: center;
  }

  &-heading {
    display: flex;
    height: $header-height;
    align-items: center;
  }

  &-logo {
    width: 73px;
  }

  &-section {
    &:last-child {
      margin-left: auto;
    }
  }
}
