$ph-bg: #fff !default;
$ph-color: #ced4da !default;
$ph-border-radius: 2px !default;

$ph-gutter: $building-unit-x3 !default;
$ph-spacer: 21px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: .8s !default;
