@import '../../../styles/base/variables';

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(39,40,44,.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: $default-transition;
  z-index: $top-z-index;

  &-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: $building-unit-x4;
  }

  &-header {
    margin: 0 0 $building-unit-x4 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    min-height: 204px;
    width: 796px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 3rem 3rem 2rem 3rem;
  }
}

$loading-bar-height: 2px;
$animation-time: 2.5s;
$long-animation-time: 10s;
$animation-delay: $animation-time;

.loading {
  &-bar {
    width: 100%;
    height: $loading-bar-height;
    background-color: $blue;
    z-index: 10;

    &-loading {
      animation: loading-bar $animation-time forwards,
      loading-bar-long $long-animation-time $animation-delay linear infinite;
    }
  }
}

@keyframes loading-bar {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes loading-bar-long {
  0% {
    width: 95%;
  }
  90% {
    width: 98%;
  }
  100% {
    width: 95%;
  }
}

