@import '../../styles/base/variables';

$image-size: 285px;

.not-found {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding-top: 50px;

  @media ($mobile) {
    padding-top: $building-unit;
  }

  &-content {
    display: flex;

    @media ($tablet) {
      flex-direction: column;
    }
  }

  &-header {
    margin: 0;
    font-size: 60px;
  }

  &-image {
    max-width: $image-size;
    max-height: $image-size;
  }

  &-link {
    margin: $building-unit-x3 0 0 0;
  }

  &-message {
    font-size: 28px;
    font-weight: 300;
    color: $dark-gray;
    margin: $building-unit-x3 0 0 0;
    max-width: 450px;
  }

  &-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 $building-unit-x3;

    @media ($tablet) {
      width: 100%;
    }

    &:first-child {
      justify-content: flex-start;
      align-items: flex-end;

      @media ($tablet) {
        justify-content: flex-start;
        align-items: flex-start;
        padding: $building-unit-x3 0;
      }
    }

    &:last-child {
      padding: $building-unit-x3 0;
    }
  }
}
