@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GothamPro.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/GothamPro-Black.woff') format('woff');
}
