@font-face {
  font-family: 'JetBrains Mono Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/JetBrainsMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JetBrainsMono-Regular.woff') format('woff');
}
