* {
  font-family: "JetBrains Mono Regular",  Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: "JetBrains Mono Bold",  Helvetica;
}

