* {
  font-family: $font-family , Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h5 {
  font-weight: 900;

  &.is-lighter {
    font-weight: 700;
  }

  &.marginless {
    margin: 0;
  }
}

.h0 {
  font-size: $font-size-h0;
}

h1,
.h1 {
  font-size: $font-size-h1;

  @media ($tablet) {
    font-size: $font-size-h3;
    line-height: 120%;
  }
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h5,
.h5 {
  font-size: $font-size-caption;
}

label {
  font-weight: $font-medium;
}

span,
a,
div,
label,
input,
select,
p {
  font-size: $font-size-regular;

  &.is-caption {
    font-size: $font-size-caption;
  }
}

.is-bold {
  font-weight: $font-bold;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-underlined {
  text-decoration: underline;
}

.is-white-text {
  color: $white;
}

.is-gray-text {
  color: $light-gray;
}

.is-secondary-text {
  color: $medium-gray;
}

.is-link {
  cursor: pointer;
  text-decoration: underline;
  color: $blue;
}

.is-error-text {
  color: $crimson;
}

.is-green-text {
  color: $green;
}
